.card {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  max-width: 1440px;
}

.cardName {
 font-size: 50px;
  font-weight: 600;
}

.cardProfile {
  padding: 20px 20px;
  text-align: center;
  border-bottom: 3px solid black;
}

.cardImg {
    margin: 0 auto;
    display: block;
  max-width: 450px;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(35, 32, 32, 0.856);
}

.cardStats {
  justify-content: center;
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 35px;
 
}
.cardLi{
flex-direction: column;
}

.carditem {
  margin-right: 20px;
 
}
