.card {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  max-width: 1440px;
}

.cardName {
 font-size: 50px;
  font-weight: 600;
}

.cardProfile {
  padding: 20px 20px;
  text-align: center;
  border-bottom: 3px solid rgba(88, 77, 77, 0.746);
}

.cardImg {
  margin: 0 auto; 
  max-width: 450px;
  border-radius: 50%;
  background-color: rgba(35, 32, 32, 0.856);
}

.cardStats {
  justify-content: center;
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 35px;
 padding: 35px 35px;
 margin: 0 ;
 background-color: darkgray;
}
.cardLi{
flex-direction: column;

}

.carditem {
  margin-right: 20px;
 
}
.cardTag{
    font-size: 30px;
    color: rgba(88, 77, 77, 0.746);
}

.cardlocation{
    font-size: 30px;
    color: rgba(88, 77, 77, 0.746);
}