.friendsList{
font-size: 23px;

}

.friendsName{
display: flex;
list-style: none;
padding: 20px 20px;
gap: 25px;
justify-content: center;
text-align: center;

}

.friendsItem{
border: 3px solid black;
border-radius: 10px;
padding: 25px 25px;
}